{% extends "base.html" %}

{% block title %}Projects - Helpercar{% endblock %}

{% block content %}
    <h1>Here Are My Projects</h1>
    <div>
        <h2>Project 1: Simple Calculator</h2>
        
        <div style="display: flex;">
            <h3>NOTE: Requires Java Version 17 or Higher</h3>
            <a href="{{ path_base }}Files/Projects/Simple-Calculator.jar" download class="page-button">Download Project</a>
        </div>
        
        <article>
            This is a simple calculator that uses JavaFx for the User Interface and Java for the backend. 
            It can perform simple operations such as addition, subtraction, multiplication, and division. 
            It also has a built-in parser so that an equation such as 2+(5-4)4*5 will be solved correctly. 
            This is the first actual version of the project that is functional, and I plan to add more features that most calculators have.
        </article>
    </div>

    <div>
        <h2>Project 2: Basic Python Game</h2>

        <div style="display: flex;">
            <h3>No Required Installations</h3>
            <a href="{{ path_base }}Files/Projects/Fighter.exe" download class ="page-button">Download Project</a>
        </div>

        <article>
            This was a Pygame project that was created by building off the first PyGame template on their documentation at https://www.pygame.org/docs/.
            It uses Object Oriented Programming Principles to create a fighter and use that template for different classes.
            Currently, there is only one class, the slime just to test some functionality and make sure that the children classes could be implemented as intended.
            I plan on adding other fighter classes with an option to select them, as well as a leveling system.
            I also plan on moving a lot of the main fight logic out of the main.py file to make it cleaner.
        </article>
    </div>
{% endblock %}
