{% extends "base.html" %}

{% block title %}Projects - Helpercar{% endblock %}

{% block content %}
    <h1>Here Are My Projects</h1>
    <h2>Project 1: Simple Calculator</h2>
    
    <div style="display: flex;">
        <h3>NOTE: Requires Java Version 17 or Higher</h3>
        <a href="/Files/Projects/Simple-Calculator.jar" download class="page-button">Download Project</a>
    </div>
    
    <article>
        This is a simple calculator that uses JavaFx for the User Interface and Java for the backend. 
        It can perform simple operations such as addition, subtraction, multiplication, and division. 
        It also has a built-in parser so that an equation such as 2+(5-4)4*5 will be solved correctly. 
        This is the first actual version of the project that is functional, and I plan to add more features that most calculators have.
    </article>
{% endblock %}
